In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv("datasets/ks-projects-201801.csv")

df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [3]:
df.count()

ID                  378661
name                378657
category            378661
main_category       378661
currency            378661
deadline            378661
goal                378661
launched            378661
pledged             378661
state               378661
backers             378661
country             378661
usd pledged         374864
usd_pledged_real    378661
usd_goal_real       378661
dtype: int64

In [4]:
newdf = df.dropna()
newdf.count()

ID                  374860
name                374860
category            374860
main_category       374860
currency            374860
deadline            374860
goal                374860
launched            374860
pledged             374860
state               374860
backers             374860
country             374860
usd pledged         374860
usd_pledged_real    374860
usd_goal_real       374860
dtype: int64

In [5]:
newdf = newdf.drop(['usd_pledged_real', 'usd_goal_real'], axis=1)
newdf.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0

In [6]:
newdf['pledged'] = newdf['pledged'].apply(lambda x: int(x))
newdf['goal'] = newdf['goal'].apply(lambda x: int(x))
newdf.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000,2015-08-11 12:12:28,0,failed,0,GB,0.0
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000,2017-09-02 04:43:57,2421,failed,15,US,100.0
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000,2013-01-12 00:20:50,220,failed,3,US,220.0
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000,2012-03-17 03:24:11,1,failed,1,US,1.0
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283.0

In [7]:
def togoal(x, y):
    return (x / y)*100

newdf['completion'] = togoal(newdf['pledged'], newdf['goal']).apply(lambda x: round(x, 2))
newdf.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,completion
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000,2015-08-11 12:12:28,0,failed,0,GB,0.0,0.00
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000,2017-09-02 04:43:57,2421,failed,15,US,100.0,8.07
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000,2013-01-12 00:20:50,220,failed,3,US,220.0,0.49
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000,2012-03-17 03:24:11,1,failed,1,US,1.0,0.02
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283.0,6.58

In [8]:
newdf['deadline'] = pd.to_datetime(newdf['deadline'])
newdf['launched'] = pd.to_datetime(newdf['launched'])

def tlen(x, y):
    return x - y

newdf['campaign_length'] = tlen(newdf['deadline'], newdf['launched'])
newdf.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,completion,campaign_length
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000,2015-08-11 12:12:28,0,failed,0,GB,0.0,0.00,58 days 11:47:32
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000,2017-09-02 04:43:57,2421,failed,15,US,100.0,8.07,59 days 19:16:03
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000,2013-01-12 00:20:50,220,failed,3,US,220.0,0.49,44 days 23:39:10
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000,2012-03-17 03:24:11,1,failed,1,US,1.0,0.02,29 days 20:35:49
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283.0,6.58,55 days 15:24:57

In [9]:
us_df = newdf.loc[newdf['country'] == 'US'] 
us_df['state'] = us_df['state'].map({'failed':0, 'successful':1})
us_df = us_df.dropna()
us_df['state'] = us_df['state'].apply(lambda x: int(x))
us_df.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,completion,campaign_length
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000,2017-09-02 04:43:57,2421,0,15,US,100.0,8.07,59 days 19:16:03
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000,2013-01-12 00:20:50,220,0,3,US,220.0,0.49,44 days 23:39:10
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000,2012-03-17 03:24:11,1,0,1,US,1.0,0.02,29 days 20:35:49
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000,2016-02-26 13:38:27,52375,1,224,US,52375.0,104.75,34 days 10:21:33
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000,2014-12-01 18:30:44,1205,1,16,US,1205.0,120.50,19 days 05:29:16

In [10]:
us_df2 = us_df[['ID','state', 'completion', 'campaign_length', 'goal']]
us_df2 = us_df2.set_index('ID')
us_df2['campaign_length'] = us_df2['campaign_length'].dt.days
us_df2.head()

            state  completion  campaign_length   goal
ID
1000003930      0        8.07               59  30000
1000004038      0        0.49               44  45000
1000007540      0        0.02               29   5000
1000014025      1      104.75               34  50000
1000023410      1      120.50               19   1000

In [11]:
#pretty weak correlations, strongest is neg correlation btwn campaign length & state
us_df2.corr()

                    state  completion  campaign_length      goal
state            1.000000    0.014692        -0.117015 -0.024280
completion       0.014692    1.000000         0.003146 -0.000453
campaign_length -0.117015    0.003146         1.000000  0.020912
goal            -0.024280   -0.000453         0.020912  1.000000

In [12]:
us_df.to_csv('US Kickstarter Data.csv', index=False)

In [13]:
us_df3 = newdf.loc[newdf['country'] == 'US']
us_df3['state']= us_df3.rename(columns={'state' : 'status'}, inplace=True)
us_df3.head()

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,status,backers,country,usd pledged,completion,campaign_length,state
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000,2017-09-02 04:43:57,2421,failed,15,US,100.0,8.07,59 days 19:16:03,None
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000,2013-01-12 00:20:50,220,failed,3,US,220.0,0.49,44 days 23:39:10,None
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000,2012-03-17 03:24:11,1,failed,1,US,1.0,0.02,29 days 20:35:49,None
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283.0,6.58,55 days 15:24:57,None
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000,2016-02-26 13:38:27,52375,successful,224,US,52375.0,104.75,34 days 10:21:33,None

In [14]:
#comics, dance, music, theater aka entertainment are most successful
us_cat = us_df3.groupby('main_category')['completion'].median()
us_cat

main_category
Art              26.395
Comics          103.330
Crafts            5.000
Dance           102.020
Design           22.880
Fashion           5.500
Film & Video     14.320
Food              5.320
Games            24.865
Journalism        1.610
Music           100.000
Photography       9.375
Publishing        7.950
Technology        3.150
Theater         101.380
Name: completion, dtype: float64

In [15]:
us_cat = us_df3.groupby('main_category')['completion'].mean()
us_cat

main_category
Art                    inf
Comics          736.196316
Crafts          299.845480
Dance            83.767091
Design          215.738869
Fashion         111.299908
Film & Video    171.908977
Food             94.046687
Games           926.012101
Journalism       37.627034
Music           901.000413
Photography      61.656589
Publishing      210.194797
Technology      372.307778
Theater          93.042036
Name: completion, dtype: float64

In [16]:
us_df3['main_category'].value_counts()

Film & Video    51921
Music           43238
Publishing      31726
Games           24636
Art             22310
Design          21689
Technology      21556
Food            19941
Fashion         16584
Comics           8910
Theater          8709
Photography      7988
Crafts           6648
Journalism       3540
Dance            3228
Name: main_category, dtype: int64

In [17]:
dance_us = us_df3.loc[newdf['main_category'] == 'Dance']
dance_us.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,status,backers,country,usd pledged,completion,campaign_length,state
122,100051531,Cat - Pre-Professional Ballerina,Dance,Dance,USD,2014-10-06,3400,2014-08-07 13:24:34,0,failed,0,US,0.0,0.00,59 days 10:35:26,None
233,1001020080,Wood Floor Fundraiser,Dance,Dance,USD,2015-08-16,1200,2015-08-11 17:13:30,1205,successful,21,US,1205.0,100.42,4 days 06:46:30,None
253,1001126692,Pole Diversity: A Showcase of Acrobatic Dance ...,Performances,Dance,USD,2015-09-19,450,2015-08-19 21:02:03,160,failed,4,US,160.0,35.56,30 days 02:57:57,None
264,1001159174,Fooju Dance Collaborative,Performances,Dance,USD,2014-12-21,1500,2014-11-21 08:02:19,1900,successful,47,US,1900.0,126.67,29 days 15:57:41,None
350,1001575705,Tall Tales: An evening of dance with ChoreoJoey,Performances,Dance,USD,2016-08-07,3000,2016-07-21 05:18:26,5,failed,1,US,0.0,0.17,16 days 18:41:34,None

In [18]:
dance_us['status'].value_counts()

successful    2088
failed         993
canceled       126
live            12
suspended        9
Name: status, dtype: int64

In [19]:
dance_us['launched'] = dance_us['launched'].dt.year
dance_us.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,status,backers,country,usd pledged,completion,campaign_length,state
122,100051531,Cat - Pre-Professional Ballerina,Dance,Dance,USD,2014-10-06,3400,2014,0,failed,0,US,0.0,0.00,59 days 10:35:26,None
233,1001020080,Wood Floor Fundraiser,Dance,Dance,USD,2015-08-16,1200,2015,1205,successful,21,US,1205.0,100.42,4 days 06:46:30,None
253,1001126692,Pole Diversity: A Showcase of Acrobatic Dance ...,Performances,Dance,USD,2015-09-19,450,2015,160,failed,4,US,160.0,35.56,30 days 02:57:57,None
264,1001159174,Fooju Dance Collaborative,Performances,Dance,USD,2014-12-21,1500,2014,1900,successful,47,US,1900.0,126.67,29 days 15:57:41,None
350,1001575705,Tall Tales: An evening of dance with ChoreoJoey,Performances,Dance,USD,2016-08-07,3000,2016,5,failed,1,US,0.0,0.17,16 days 18:41:34,None

In [20]:
dance_us['launched'].value_counts()

2014    560
2012    509
2013    500
2015    468
2011    413
2016    330
2017    271
2010    169
2009      8
Name: launched, dtype: int64

In [21]:
#comics, dance, music, theater
comics_us = us_df3.loc[newdf['main_category'] == 'Comics']
music_us = us_df3.loc[newdf['main_category'] == 'Music']
theater_us = us_df3.loc[newdf['main_category'] == 'Theater']

comics_us['launched'] = comics_us['launched'].dt.year
music_us['launched'] = music_us['launched'].dt.year
theater_us['launched'] = theater_us['launched'].dt.year

comics_us = comics_us['launched'].value_counts()
music_us = music_us['launched'].value_counts()
theater_us = theater_us['launched'].value_counts()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
comics_us.to_csv('comics per year.csv', index=False)
music_us.to_csv('music per year.csv', index=False)
theater_us.to_csv('theater per year.csv', index=False)

In [23]:
theater_us

2012    1755
2011    1471
2014    1283
2013    1229
2015    1068
2016     695
2010     607
2017     543
2009      56
2018       1
1970       1
Name: launched, dtype: int64

In [24]:
comics_us = us_df3.loc[newdf['main_category'] == 'Comics']
comics_us.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,status,backers,country,usd pledged,completion,campaign_length,state
16,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08,1500,2014-10-09 22:27:52,395,failed,16,US,395.00,26.33,29 days 01:32:08,None
24,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175,2014-10-23 17:15:50,701,successful,66,US,701.66,400.57,19 days 06:44:10,None
91,1000348776,P/O/V Comic and Literary Anthology,Comics,Comics,USD,2012-03-06,4289,2012-01-21 18:25:26,474,failed,14,US,474.00,11.05,44 days 05:34:34,None
228,1000997384,"Quick, The Clockwork Knight Volume #2",Comics,Comics,USD,2014-06-03,2000,2014-04-16 05:25:22,2585,successful,105,US,2585.00,129.25,47 days 18:34:38,None
243,1001064677,Equinox: my first comic (genre: fantasy),Comics,Comics,USD,2011-06-04,5150,2011-04-25 21:36:40,5965,successful,97,US,5965.50,115.83,39 days 02:23:20,None

In [25]:
comics_success = comics_us.loc[comics_us['status'] == 'successful'] 
comics_success.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,status,backers,country,usd pledged,completion,campaign_length,state
24,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175,2014-10-23 17:15:50,701,successful,66,US,701.66,400.57,19 days 06:44:10,None
228,1000997384,"Quick, The Clockwork Knight Volume #2",Comics,Comics,USD,2014-06-03,2000,2014-04-16 05:25:22,2585,successful,105,US,2585.00,129.25,47 days 18:34:38,None
243,1001064677,Equinox: my first comic (genre: fantasy),Comics,Comics,USD,2011-06-04,5150,2011-04-25 21:36:40,5965,successful,97,US,5965.50,115.83,39 days 02:23:20,None
287,1001279854,Westward #8,Comic Books,Comics,USD,2014-07-31,2500,2014-06-25 17:27:43,2611,successful,75,US,2611.00,104.44,35 days 06:32:17,None
418,1001989065,Cyberines #1,Comic Books,Comics,USD,2014-11-16,550,2014-10-26 20:29:05,3318,successful,149,US,3318.00,603.27,20 days 03:30:55,None

In [26]:
comics_success['goal'].max()

250000

In [27]:
comics_success.loc[comics_success['goal'] == 250000]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,status,backers,country,usd pledged,completion,campaign_length,state
335125,777237528,Penny Arcade Sells Out,Comics,Comics,USD,2012-08-15,250000,2012-07-10 16:56:24,528144,successful,9069,US,528144.37,211.26,35 days 07:03:36,None

In [28]:
comics_success['goal'].min()

1

In [29]:
comics_success['campaign_length'].mean()

Timedelta('31 days 12:17:56.482157')

In [30]:
comics_success.to_csv('comics success.csv', index=False)

In [31]:
comics_us.corr()

                   ID      goal   pledged   backers  usd pledged  completion
ID           1.000000  0.011279 -0.018546 -0.012624    -0.019463   -0.011982
goal         0.011279  1.000000  0.000482 -0.001107     0.000696   -0.001176
pledged     -0.018546  0.000482  1.000000  0.918956     0.959164   -0.000973
backers     -0.012624 -0.001107  0.918956  1.000000     0.877260   -0.003108
usd pledged -0.019463  0.000696  0.959164  0.877260     1.000000    0.000324
completion  -0.011982 -0.001176 -0.000973 -0.003108     0.000324    1.000000